exportPattern("^neptune_[[:alpha:]]+")
import(reticulate)
import(this.path)
importFrom(ggplot2,ggsave)
importFrom(plotly,ggplotly)
importFrom(htmlwidgets,saveWidget)
importFrom(plotly,as_widget)
export(`[.neptune.new.run.Run`)
export(`[<-.neptune.new.run.Run`)
S3method(`[`, neptune.new.run.Run)
S3method(`[<-`, neptune.new.run.Run)
importFrom("methods", "selectMethod")
